*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #109196;
}

.data-csv{
  text-align: center;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Table {
  background-color: white;
  margin-left: 181px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 80%;
}